window {
    margin: 0px;
    border: 1px solid #757576;
    background-color: #101011;
    font-family: "Arimo Nerd Font", sans-serif;
    font-size: 14px;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
    padding: 10px;
}

#inner-box {
    margin: 5px 0 0px 0;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 5px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #bcbcb1;
}

/* ---- accent colors are only below here */


#entry:selected {
    background-color: #141415;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 5px solid #5fb6f0;
    border-radius: 1px;
    padding-left: 10px;
    outline: none;
}

#text:selected {
    color: #5fb6f0;
    font-weight: 600;
}

#input {
    margin: 5px;
    border: 1px solid #808081;
    color: #eceff4;
    background-color: #101011;
    border-radius: 1px;
}

#input:focus {
}

